<footer class="site-footer">
    <div class="wrapper">
        <div id="email-contact">
            <p>
                Contact: <a href="mailto:{{ site.email }}" title="Email">{{ site.email }}</a>
            </p>
        </div>
        <div class="social-media">
            {% for profile in site.data.social-media %}
            <div>
                <a href="{{ profile.link }}">
                    <img class="media-icon" src={{ profile.icon }} alt={{ profile.name }} title={{ profile.name }}>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</footer>