.site-footer {
    box-shadow: 0 0 10px 0 $palette3;
    background-color: $palette2;
    height: $footer-height;
    position: absolute;
    bottom: 0;
    width: 100%;
    .wrapper
    {
        display: flex;
        align-content: center;
    }
  }

#email-contact
{
    a:hover
    {
        color: $palette5;
    }
    a
    {
        text-decoration: none;
        color: $palette8;
    }
}

.social-media
{
    width: 25%;
    min-width: 250px;
    display: flex;
    justify-content: space-evenly;

    li
    {
        display: inline;
    }

    a
    {
        text-decoration: none;
    }
    
    img
    {
        width: 25px;
    }

    img:hover 
    {
        opacity: 0.5;
    }
}

@media only screen and (max-width: 768px)
{
    .site-footer
    {
        height: $footer-height * 2;
        .wrapper
        {
            display: flex;
            align-content: center;
            flex-direction: column;
        }
    }

    .social-media
    {
        display: flex;
        width: 80%;
        justify-content: space-between;
        img
        {
            width: 30px;
        }   
    }
}