.wrapper
{
    max-width: 1000px;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body
{
    margin: 0;
    font-family: 'Open sans', sans-serif;
    font-weight: normal;
    background-color: $palette1;
    position: relative;
    min-height: 100vh;
}

.content
{
    width: 100%;
    margin-top: 10px;
    padding-bottom: $footer-height + 30px;
    
    h1
    {
        color: $palette8;
        font-size: 32px;
    }

    h2
    {
        color: $palette8;
        font-size: 24px;
    }

    h3
    {
        color: $palette8;
        font-size: 16px;
    }

    h3
    {
        color: $palette8;
        font-size: 16px;
    }

    p
    {
        color: $palette8;
        font-size: 16px;
        line-height: 24px;
        a
        {
            color: $palette5;
            font-weight: bold;
            text-decoration: underline;
        }
    }

    a
    {
        text-decoration: none;
        color: $palette8;
    }
    a:hover
    {
        color: $palette4;
    }

    img
    {
        max-width: 100%;
        height: auto;
    }
}

.link-button
{
    padding: 8px;
    border-radius: 2px;
    a
    {
        font-weight: bold;   
    }
}

.link-button:hover
{
    background-color: $palette5;
    a
    {
        color: $palette1;
    }
    border: $palette8;
    box-shadow: 0 0 5px 0 $palette3;
}

.center
{
    text-align: center;
}

@media only screen and (max-width: 768px)
{
    .wrapper
    {
        max-width: auto;
    }
    .content
    {
        padding-bottom: $footer-height * 2 + 30px;
    }

    .link-button
    {
        padding: 8px;
        background-color: $palette5;
        a
        {
            color: $palette1;
        }
        border: $palette8;
        box-shadow: 0 0 5px 0 $palette3;
    }
}