---

---


$header-height: 70px;
$footer-height: 57px;

// Color Palette
$palette1: #f8f9fa;
$palette2: #ebebeb;
$palette3: #C0C0C4;
$palette4: #df7568;
$palette5: #d64937;
$palette6: #4F4F54;
$palette7: #212529;
$palette8: #131516;

// Fonts
$font-size: 8px, 16px, 24px, 32px, 48px, 64px, 95px;

//font-family: 'Open Sans', sans-serif;
//font-family: 'Roboto', sans-serif;

@import "main", "footer", "header", "about", "projects", "index", "blogpost";