table
{
    border-collapse: collapse;
    font-family: 'Open sans';
    width: 100%;
    overflow-y: auto;
    overflow-x:scroll;
}

.row_heading
{
    text-align: left;
    position: sticky;
    left: 0;
    top:20px;
}

table thead tr th
{
    position: sticky;
    top: 0;
}

th {
    background: #f8f9fa;
    
  }

.data
{
    height: 20px;
    text-align: center;
}



.table-wrap {
 position:relative;
 margin-bottom:20px
}
.table-classes-wrap {
 overflow-x:scroll;
 padding-left:100px;
 width:100%
}
.table-races {
 position:absolute;
 background:#fff
}