---
layout: default
---

<div class="about-page">
    <div class="about-site">
        {{ content }}
    </div>
    <div class="about-me">
        <img id="profile-pic" src="https://avatars3.githubusercontent.com/u/38871879?s=400&u=2b89272ab8e51aa9c48fb04dce5788a390b1a29b&v=4" alt="">
        <h3>Francesco Gentile</h3>
        <h4>"Eyon"</h4>
        <p>
            I'm an Industrial Engineering and Computer Science student from Argentina.
        </p>
        <p>
            My engineering projects always stayed in CAD and spreadsheets because of budget. So I started making coding projects where that's not a problem.
        </p>
    </div>

</div>
